<div>
  <mat-toolbar class="title-toolbar">
    <mat-toolbar-row>
      <span class="title-center">{{resume.name}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->
  <app-content></app-content>

<!-- </div>


  <div class="main-container">
    <div class="main-container-item">
      <label>New label1</label>
    </div>
    <div class="main-container-item">
      <label>New label2</label>
    </div>
    <div class="main-container-item">
      <label>New label3</label>
    </div>
    <div class="main-container-item">
      <label>New label4</label>
    </div>
    <div class="main-container-item">
      <label>New label5</label>
    </div>
    <div class="main-container-item">
      <label>New label6</label>
    </div>
    <div class="main-container-item">
      <label>New label7</label>
    </div>
    <div class="main-container-item">
      <label>New label8</label>
    </div>

    
  </div> -->
