.example-container {
    width: 500px;
    height: 300px;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .main-container-item{
    padding: 20px;
    margin-top: 10px;
    background: tomato;
    border: 0px solid rgba(0, 0, 0, 0.5);
  }